.HomeContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.Heading {
    font-style: normal;
    font-size: 73.4028px;
    letter-spacing: 0.04em;
    color: #93C1FF;
    font-weight: 700;
    text-align: start;
}

.Home {
    padding-left: 119px;
    padding-top: 32px;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #0A2647;
}

.ScannerImage {
    width: 360px;
    height: 640px;
    border: 16px solid black;
    display: flex;
    justify-content: center;
}

.Homepara {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.Homepara :hover {
   color: #0A2647;
}